<div>
    <h2>Options</h2>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Dependency Property
            </NavLink>
        </li>
        <li>
            <NavLink href="notify">
                <span aria-hidden="true"></span> Notify
            </NavLink>
        </li>
    </ul>
</div>
